.G-main {
  // padding: 20px;
  min-height: calc(100vh - 66px);
  >.ant-card {
    min-height: calc(100vh - 106px);
  }
}
.G-fullpage {
  display: flex;
  height: 100%;
}
.G-layout-main {
  flex: 1;
  overflow: auto;
}
:where(.css-dev-only-do-not-override-1a3rktk).ant-card .ant-card-body {
  padding: 10px;
}